<div class = "container footer">
	<ul class="social-links">
		<li>
			<a href="http://twitter.com/prodigyfinance" target="_blank"><img src="/assets/icon-social-twitter.png">Twitter</a>
		</li>
		<li><a href="http://facebook.com/prodigyfinance" target="_blank"><img src="/assets/icon-social-facebook.png">Facebook</a>
		</li>
		<li><a href="http://www.linkedin.com/company/prodigy-finance" target="_blank"><img src="/assets/icon-social-linkedin.png">Linkedin</a>
		</li>
	<!-- </ul>
	<ul class = "contact_us">
		<li><a href="/help">Help</a></li><li><a href="/faq">FAQ</a>
	</li>
	<li><a href="http://blog.prodigyfinance.com" target="_blank">Blog</a>
	</li>
</ul> -->
	<div class="copy-right alpha omega">
		<p style="font-size: 11px; line-height: 12px;">© Prodigy Finance Ltd 2007 -  2014. All Rights Reserved. Prodigy Finance Ltd is incorporated in the United Kingdom (Company Number 05912562) and registered with the Office of the Information Commissioner (Reg. No. Z9851854). Prodigy Finance Ltd is authorised and regulated by the Financial Conduct Authority, and entered on the Financial Services Register under firm registration number 612713.  Prodigy Finance Ltd is an appointed representative of BriceAmery Capital Ltd which is authorised and regulated by the Financial Conduct Authority. Prodigy Finance Ltd carries out both regulated and unregulated business. Prodigy's registered address is Palladium House 1-4 Argyll Street, London, W1F 7LD.
		</p>
	</div>
</div>