<div class="header1 container">
	<div class="row">
		<div class="col-sm-1" style = "padding-left:0px; padding-right:0px;" >
			<div id="st-trigger-effects" class=" container column">
				<button data-effect="st-effect-1" class = "Btn">
					<em></em>
				</button>
			</div>
		</div>
		<div class="col-sm-4" style = "padding-left:0px; padding-right:0px;">
			<div class = "prodigy_logo">
			<img id="Prodigy_Finance" src="../assets/logo-light.png" height="10%" width="10%">
			</div>
		</div>
		<div class = "col-sm-7">
			<div class = "log_out">
			<%= link_to("Log out", destroy_investor_session_path, :method => :delete) %>
			</div>
		</div>
	</div>
</div>

