<div class="header1 container">
	<div class="row">
		<div class="col-md-6" style = "padding-left:0px; padding-right:0px;" >
			<div id="st-trigger-effects" class=" container column">
				<button data-effect="st-effect-13" class = "Btn">
				</button>
			</div>
		</div>
		<div class="col-md-6" style = "padding-left:0px; padding-right:0px;">
			<div class = "prodigy_logo">
			<img align= "center" id="Prodigy_Finance" src="../assets/prodigy_finance_logo.png" height="5%" width="5%">
			</div>
		</div>
	</div>
</div>

