
<div class="header1 container">
	<div class="row">
		<div class="col-md-6">
			<div id="st-trigger-effects" class=" container column">
				<button data-effect="st-effect-1" class = "Btn">
					<em></em>
				</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class = "prodigy_logo">
			<img align= "center" id="Prodigy_Finance" src="../assets/prodigy_finance_logo.png" height="5%" width="5%">
			</div>
		</div>
	</div>
</div>




