<div class = "container">
	<h1> Welcome John</h1>
</div>
<button type="button" class="btn btn-default  btn-lg new_investment">New Investment</button>
<button type="button" class="btn btn-default  btn-lg new_investment">Continue Application</button>

<div class = "overview container" style = "border: solid;">
	<div class = "row">
	<h2 class = "container">
		Overview:
	</h2>
	<div class = "row container"> 
		<p>
			<div class = "col-md-6">
				Still have questions about the investor process?
			</div>
	</div>
			<div class = "row container">
			<div class = "col-md-6">
			Seach for answers in our knowledge base.
			</div>
			</div>
				<div class = "row">
					<div class = "col-md-4">
					</div>
					<div class = "col-md-4">
						<button type="button" class="btn btn-default  btn-lg new_investment knowledge">Knowledge Base	</button>
					</div>
					<div class = "col-md-4">
					</div>
				</p>
			</div>
		</div>
</div>