<div class = "container">
	<h1> Welcome John</h1>
</div>
<button type="button" class="btn btn-default new_investment">New Investment</button>

<div class = "overview container" style = "border: solid;">

	<h2>
		Overview:
	</h2>
	<p>
		Still have questions about the investor process?
		<br></br>
		Seach for answers in our knowledge base. 
	</p>
</div>


