<section class="recent-articles">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row recent-article">
          <div class="article-image col-md-4 is_centered">
            <img alt="The-telegraph-black" class="image--resp is_centered" src="/assets/telegraph.png">
          </div>
          <div class="article-content col-md-8 is_centered">
            <div class="article-meta margin-xs--bottom">
              <span class="article-date">October 1, 2013 <strong>| The Daily Telegraph</strong></span>
            </div>
            <div class="article-excerpt">
              <h4><a href="http://www.telegraph.co.uk/finance/businessclub/10344289/Fund-for-MBA-students-gets-a-first-from-investors.html" target="_blank">Fund for MBAs gets a first from investors</a></h4>
              <p>“Prodigy Finance is banking on the earning potential of MBA students. CEO Cameron Stevens and President of US Operations Jeremy Rabson talk about the financial start-up’s first few years during the economic crisis, Prodigy bonds’ sound financial investment, and the firm’s future growth avenues.”</p>
            </div>
             <%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Ftelegraph.co.uk/finance/businessclub/10344289/Fund-for-MBA-students-gets-a-first-from-investors.html', :target => :blank %>
          </div> 

        </div>
        <br></br>
        <br></br>
        <div class="row recent-article">
          <div class="article-image col-md-4 is_centered">
            <img alt="Financial-times-black" class="image--resp is_centered" src="/assets/financial.png">
          </div>
          <div class="article-content col-md-8 is_centered">
            <div class="article-meta margin-xs--bottom">
              <span class="article-date">July 26, 2013 <strong>| Financial Times</strong></span>
            </div>
            <div class="article-excerpt">
              <h4><a href="http://www.ft.com/cms/s/0/250c9d92-ee1c-11e2-a325-00144feabdc0.html" target="_blank">Risk and Reward in the P2P Revolution</a></h4>
              <p>“FT imagines what a world without banks look like. Converts to the peer-to-peer movement believe it’s a utopia of 5% returns, affordable loans to trustworthy borrowers, and innovative risk mechanisms. Among the investment options is Prodigy Finance, to support business school student loans.”</p>
            </div>
            <%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fft.com/cms/s/0/250c9d92-ee1c-11e2-a325-00144feabdc0.html', :target => :blank %>

          </div>
        </div>
  
        <br>     
        
           <div class="row recent-article">
          <div class="article-image col-md-4 is_centered">
            <img alt="Guardian-black" class="image--resp is_centered" src="/assets/guardian.png">
          </div>
          <div class="article-content col-md-8 is_centered">
            <div class="article-meta margin-xs--bottom">
              <span class="article-date">February 25, 2013 <strong>| The Guardian</strong></span>
            </div>
            <div class="article-excerpt">
              <h4><a href="http://www.theguardian.com/education/2013/feb/25/postgraduate-students-frontier-social-mobility" target="_blank">Universities consider loans to help postgraduate students</a></h4>
              <p>“UK postgraduate students face a huge funding gap. As universities and the government scramble for ways to fill it, they may turn for guidance to the MBA sector, where Prodigy Finance has provided a market-based solution.”</p>
            </div>
             <%= link_to image_tag('../assets/facebook_share_icon.gif'), 'http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.theguardian.com/education/2013/feb/25/postgraduate-students-frontier-social-mobility', :target => :blank %>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>