<div class = "relationship_manager" style = "text-align:center;"> 
		<div class = "txt" > <h4 style="font-weight:bold; margin-bottom:0"> Meet Jenn,</h4><h5> Your Investor Relations Manager</h5></div>
		<center>
			<img src="/assets/jenn-portrait.png" class="nav-thumbnail">
		</center>
		<div class = "contact-links">
			<button type="button" class="btn btn-group-justified"><span class="glyphicon glyphicon-phone"></span> Schedule a Call</button>
			<button type="button" class="btn btn-group-justified" style = "border-top:0px"><span class=" glyphicon glyphicon-envelope"></span>  Send a Message</button>
		<!-- 
		<a class= "icon icon-lab" href="#">Schedule a Call</a> <br>
		<a class= "icon icon-mail" href="#">Send a Message</a> -->
	</div>