<%= render 'header' %>

<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation: "slide",
			animationLoop: false,
			itemWidth: 210,
			itemMargin: 5,
			minItems: 2,
			maxItems: 4
		});
	});
</script>

<script>
	$(function () {
		$('#myTab a:last').tab('show')
		$('#myTab a[href="#returns1"]').tab('show')
		$('#myTab a[href="#returns2"]').tab('show')
	})
</script>
<div class = "container st-content full-page">
	<br></br>
	<div class = "row">
		<div class = "col-md-12">
			<div class = "row">
				<div class = "col-md-1">
				</div>
				<div class = "col-md-11">
					<div class = "container welcome" style ="width: 100%">
						<h1> Welcome, John</h1>
					</div>
				</div>
			</div>
			<br></br>
			<div class = "row">
				<div class = "col-md-9">
					<div class = "row">
						<ul class="nav nav-tabs" role="tablist" id="myTab">
							<li class="active"><a href="#returns1" role="tab" data-toggle="tab">Columbia</a></li>
							<li><a href="#returns2" role="tab" data-toggle="tab">Insead</a></li>
						</ul>
					</div>
					<div class = "row">
						<div class = "col-md-9">
							<div class="tab-content">
								<div class="tab-pane active" id="returns1">content1</div>
								<div class="tab-pane" id="returns2">content2</div>
							</div>
						</div>
					</div>
					<div class="flexslider">
						<ul class="slides">
							<li>
								<img src="/assets/student_class.png" />
							</li>
							<li>
								<img src="/assets/student_class.png" />
							</li>
							<li>
								<img src="/assets/student_class.png" />
							</li>
							<li>
								<img src="/assets/student_class.png" />
							</li>
							<li>
								<img src="/assets/student_class.png" />
							</li>
							<li>
								<img src="/assets/student_class.png" />
							</li>
							<!-- items mirrored twice, total of 12 -->
						</ul>
					</div>
				</div>
				<div class = "col-md-3">
				</div>
			</div>
			<div class = "col-md-2">
			</div>
		</div>
	</div>






