
<div class = "container full-page">
  <div class = "col-md-12" style="z-index: 300">
    <%= form_tag ( {  :controller => :student_impacts, :action => :index, :method => "post"} ) do %>
    <%= collection_select(:school, :id, @investor_schools, :id, :name, :include_blank => "Select All")  %>
    <%= submit_tag "Change School" %>
    <% end %>
  </div>
  
  <div class ="row" style="height: 50%">
    <!-- <div class = "col-md-12"> -->
      <div id='map'>
      </div>
    <!-- </div> -->
  </div> 
</div>
    <script>
     map = L.mapbox.map('map', 'lawrencealexander10.ipeeb6pd').setView([45.52086, -122.679523], 14)
     var myLayer = L.mapbox.featureLayer().addTo(map);
   </script>

   <script> 
    $.ajax({
      dataType: 'text',
      url: '/student_impacts/index.json',
      success: function(data) {
        var geojson;
        geojson = $.parseJSON(data);

        myLayer.on('layeradd', function(e) {
          var marker = e.layer,
          feature = marker.feature;

          marker.setIcon(L.icon(feature.properties.icon));
        });

  // Add features to the map.
  return myLayer.setGeoJSON(geojson);

      // return map.featureLayer.setGeoJSON(geojson);
    }
  });
  </script> 


