@import "dashboard";
@import "bootstrap_override";
@import "bootstrap";
@import "component";
@import "intial_dashboard";
@import "signup";









.col-md-4 {
	padding: 0 !important;
}

#dashboard #st-container .st-menu ul .dashboard {
	font-weight: bold;
	background: blue;
}
