@import "dashboard";
@import "bootstrap_override";
@import "bootstrap";
@import "component";
@import "intial_dashboard";
@import "before_returns";
@import "signup";
@import  "flexslider";
/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com */





.col-md-4 {
	padding: 0 !important;
}

#dashboard #st-container .st-menu ul .dashboard {
	font-weight: bold;
	background: rgba(0,0,0,0.2);
}
