@import "dashboard";
@import "bootstrap_override";
@import "bootstrap";
@import "component";
@import "intial_dashboard";
@import "before_returns";
@import "signup";
@import "flexslider";
@import "flexslider_override";
@import "network";
@import "press";


/* 
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com */





.col-md-4 {
	padding: 0 !important;
}

#dashboard #st-container .st-menu ul .dashboard {
	font-weight: bold;
	background: rgba(0,0,0,0.2);
}

.success {
  padding: 10px;
  margin: 10px 0;
  color: green;
  border: 1pt solid green;
  background-color: #f2fdeb;
  text-align: center;
  z-index: 200000000000000;
}

.error {
  padding: 10px;
  margin: 10px 0;
  color: red;
  border: 1pt solid red;
  background-color: #fdece6;
  text-align: center;
  z-index: 10000000000000;
}

