.flexslider .slides img {
/*height: 60%;
width:60%;*/
border-color: #00a1e4;
border-radius: 50%;
line-height: 0;
display: inline;
overflow: hidden;
border: 1px solid #00a1e4;
margin-bottom: 0.954955147666624rem;}

.flexslider ul li {
	width: 144px !important;
	margin: 1.5em;
	}
.flexslider{
	margin-top: 1em;
	background: rgba(255,0,0,0) ;
}
.flex-viewport{
	padding-top: 30px;
}