/*new investment buttons*/

.container {
	width: 100%;
}

.welcome {
	float: left;
		font-family: 'Anaheim', sans-serif;
	h1{
		margin-top: 30px;
		margin-bottom: 0px;
	}
}

.new_investment {
	border: none;
padding: 0.6em 1.2em;
background: #f36f32;
color: #fff;
font-family: 'Lato', Calibri, Arial, sans-serif;
font-size: 1em;
letter-spacing: 1px;
text-transform: uppercase;
cursor: pointer;
display: inline-block;
margin: 3px 2px;
border-radius: 2px;
	margin-top: 40px;
	width: 223px;
}

.container .full-page {
	width: 100%;
}



/*for overiveiw div*/
.overview {
	width: 50%;
	background-color: rgba(232,232,232,.6);
}

.knowledge {
	margin-top: 10px;
	margin-bottom: 10px;	
}

/*investment div*/
.investment {
	width: 70%;
	background-color: rgba(232,232,232,.6);
}

/* drop down button*/


a.button--blue, .button--blue {
background: white;
color: black;
border: 1px solid black;
padding: 5px;
}

#select_school {
	margin-bottom: 10px;


}

#select_school a {
	width: 100%;
}

.select_button {
	border-radius: 0;
}


.pictures {
	margin-bottom: 10px;
}

.col-md-6 .thumbnail {
	width: 60%;
}

img .img-thumbnail {
	 position: relative; 
   	width: 100%; /* for IE 6 */

}

/*.text {
	position: absolute; 
	bottom: 20px;   
	text-align: center;
	left: 1px;
	width: 10 0%;
}*/


.stats ul{
	list-style-type: none;
	color: #999999;
	ul{
		margin-left: -1em;
		color: #00A1E4;
	}

}

@mixin box-sizing {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}


.thumbnail-container {
	display: inline-block;
	position: relative;

	a {
		@include box-sizing;
		display: block;
		position: absolute;
		bottom: 10px;
		left: 50%;
		width: 80%;
		margin-left: -40%;
		padding: 10px;
		background:red;
		opacity: .7;
		color: black;
	}
}

.relationship_manager{
	background: #f1f2f2;
	border-radius: 10px 10px 0px 0px; 
	width:200px;
	/*height:400px;*/
	margin: 0 auto;
	position: relative;
	font-family: 'Lato', Calibri, Arial, sans-serif;

	.txt{
		margin-left: 10px;
		margin-right: 10px ; 
			}
	/*padding-bottom: 50px;*/
		img{
			margin-top: 20px;

		}
		.contact-links{
			display: inline-block;
			bottom: 0;
			margin-top: 10px;
			width: 100%;

			.btn-group-justified {
			border-radius: 0;
			background: white;
			border: 1px solid;}

		}
		button{
			padding:6px;
			
		}

}

.nav-thumbnail {
	border-color: #00a1e4;
	border-radius: 50%;
	line-height: 0;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #00a1e4;
	margin-bottom: 0.954955147666624rem;
}


#fact-card_modal {
	border-radius: 0;
}