.new_investment {
	text-decoration: none;	
	border-radius: 0;	
	background-color: #b6d3e2;
}

.overview {
	width: 50%;
	background-color: #E8E8E8 ;


}

.knowledge {
	margin-top: 10px;
	margin-bottom: 10px;	
}

