// Place all the styles related to the student_impacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-thumbnail {
	border-color: #00a1e4;
	border-radius: 50%;
	line-height: 0;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #00a1e4;
	margin-bottom: 0.954955147666624rem;
}
